/* ************************************************* */
/*                     body                          */
/* ************************************************* */
body{
    margin: 0vw;
}
/* ************************************************* */
/*                    fonts                          */
/* ************************************************* */
.shantell-sans-p-10{
    font-family: 'Shantell Sans', cursive;
    font-size: 1vw;
    color: white;
    margin: 0vw;
}
.shantell-sans-p-12{
    font-family: 'Shantell Sans', cursive;
    font-size: 1.2vw;
    color: white;
    margin: 0vw;
}
.sans-serif-p-12{
    font-family: sans-serif;
    color: rgb(223, 223, 223);
    font-size: 1.2vw;
    margin-top: 1vw;
}
.sans-serif-p-10{
    font-family: sans-serif;
    color: rgb(223, 223, 223);
    font-size: 1vw;
    margin: 0vw;
}
.sans-serif-p-10-dark{
    font-family: sans-serif;
    color: black;
    font-size: 1vw;
    margin: 0vw;
}
.shantell-sans-h1-70{
    font-family: 'Shantell Sans', cursive;
    font-size: 7vw;
    color: white;
    margin: 0vw;
    text-shadow: 0.5vw 0.5vw #662d91;
}
.shantell-sans-h1-50{
    font-family: 'Shantell Sans', cursive;
    font-size: 5vw;
    color: white;
    margin: 0vw;
    text-shadow: 0.5vw 0.5vw #662d91;
    text-align: center;
}
.shantell-sans-h2-15{
    font-size: 1.5vw;
    font-family: 'Shantell Sans', cursive;
    color: white;
    margin: 0;
}
.shantell-sans-h2-30{
    font-size: 3vw;
    font-family: 'Shantell Sans', cursive;
    color: white;
    margin: 0;

}
/* ************************************************* */
/*                      navbar                       */
/* ************************************************* */
nav{
    display: flex;
    background-color: #34324b;
    border-bottom-style: solid;
    border-width: 0.2vw;
    border-color: black;
    margin: 0vw;
    padding: 2vw;
    align-items: center;
}
.logo-nav{
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo-nav img{
    width: 3vw;
    margin-right: 1vw;
}
.nav-list{
    margin: 0vw;
}
.nav-item{
    display: inline;
    list-style-type: none;
}
.nav-link{
    margin: 1vw;
    padding: 0.75vw;
    text-decoration: none;
    border-radius: 1vw;
}
.nav-link:hover{
    transition: 0.3s;
    background-color: #865DFF;
    box-shadow: 0 0 2vw #865DFF;
}
/* ************************************************* */
/*                    sections                       */
/* ************************************************* */
.funcode-container{
    background-color: #865DFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7vw 0vw 7vw 0vw;
}
.features{
    background-color: #6547c0;
    padding: 7vw 3vw 7vw 3vw;
    margin: 0vw;
}
.container{
    background-color: #865DFF;
    display: flex;
    flex-direction: column;
    padding: 4vw 0vw 4vw 0vw;
    align-items: center;
}
/* ************************************************* */
/*                      index page                   */
/* ************************************************* */
.language{
    height: 24.7vw;
    overflow-y: scroll
}
.language::-webkit-scrollbar{
    width: 0vw;
}
.language-item{
    background-color: #34324b;
    padding: 1.2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.2vw;
    border-color: black;
    width: 22vw;
}
.language-list{
    list-style-type: none;
    padding: 0vw;
    margin: 0vw;
}
.logo-funcode img{
    width: 22vw;
    display: block;
    margin: auto;
}
.description{
    background-color: #34324b;
    padding: 1.2vw;
    margin: 1vw;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.2vw;
    border-color: black;
    width: 22vw;
}
/* ************************************************* */
.meeting{
    background-color: #34324b;
    width: 40vw;
    border-radius: 1vw;
    border-color: black;
    border-style: solid;
    border-width: 0.2vw;
    display: inline-block;
}
.meeting-top{
    display: flex;
}
.meeting-bottom{
    display: flex;
}
.person{
    background-color:#242334;
    width: 12vw;
    height: 7vw;
    margin: 1vw;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.2vw;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person-icon{
    width: 6vw;
}
.person-icon-no-cam{
    width: 4vw;
}
.meeting-functions-icon{
    width: 2vw;
    padding: 0.2vw;
}
.meeting-functions-icon:hover{
    background-color: rgba(255, 255, 255, 0.129);
    border-radius: 0.5vw;
}
.meeting-functions{
    padding: 0.1vw;
    display: flex;
    justify-content: center;
}
.features-top{
    display: flex;
    justify-content: space-between;
}
.explanation{
    width: 50vw;
}
.features-bottom{
    display: flex;
    justify-content: space-between;
}
.feature{
    margin-top: 3vw;
    width: 22vw;
}
/* *********************************************** */
/*                     about page                  */
/* *********************************************** */
.about-bottom{
    display: flex;
}
.about{
    width: 25vw;
    background-color: #242334;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: black;
    border-width: 0.2;
    margin: 4vw;
}
/* ********************************************* */
/*                  contackt page                */
/* ********************************************* */
.contackt-ways-container{
    display: flex;
    justify-content: space-around;
}
.contackt-way{
    background-color: #242334;
    display: flex;
    align-items: center;
    padding: 1vw;
    margin: 0vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: black;
    border-width: 0.2;
}
.contackt-link{
    margin: 8vw 2vw 8vw 2vw;
    text-decoration: none;
}
.media{
    width: 3vw;
    margin-right: 1vw;
}
/* ********************************************* */
/*                    form pages                 */
/* ********************************************* */
.form{
    background-color: #242334;
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: black;
    border-width: 0.2;
    margin: 3vw;
}
.entry{
    margin: 1vw;
    border-radius: 0.5vw;
    border-style: solid;
    border-color: black;
    border-width: 0.2;
    padding: 0.2vw;
}
.entry:focus {
    outline: none;
    box-shadow: 0 0 2vw black;
}
.form-bottom{
    display: flex;
    justify-content: end;
    margin: 1vw;
}
.submit{
    border-radius: 0.5vw;
    border: none;
    background-color: #242334;
}
.submit:hover{
    transition: 0.3s;
    box-shadow: 0 0 2vw #865DFF;
    background-color: #865DFF;
}
/* ************************************************ */
/*                     footer                       */
/* ************************************************ */
footer{
    background-color: #242334;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}
.logo-footer img{
    width: 3vw;
    margin-right: 1vw;    
}
.logo-footer{
    display: flex;
    align-items: start;
    justify-content: center;
}
.footer-navigator{
    list-style-type: none;
    margin: 0vw;
}
.footer-media{
    width: 2vw;
}