/* ************************** */
/*             body           */
/* ************************** */
body{
    margin: 0px;
    background-image: url("../img/pagebackgroud.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Tilt Neon', cursive;
    line-height: 30px;
}
/* ************************** */
/*             main           */
/* ************************** */
main{
    max-width: 1200px;
    display: block;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 32px;
}
/* ************************** */
/*             font           */
/* ************************** */
.center{
    text-align: center;
}
.font-tilt-neon{
    font-family: 'Tilt Neon', cursive;
}
.p-12{
    font-size: 1.2em;
    color: white;
    margin: 0vw;
}
.p-15{
    font-size: 1.5em;
    color: white;
    margin: 0vw;
}
.p-1{
    font-size: 1em;
    color: white;
    margin: 0vw;
}
.p-2{
    font-size: 2em;
    color: white;
    margin: 0vw;
}
.h1-5{
    font-size: 5em;
    color: white;
    margin: 0vw;
    line-height: 80px;
}
.h2-2{
    font-size: 2em;
    color: white;
    margin: 0px;
}
.h2-3{
    font-size: 3em;
    color: white;
    margin: 0px 0px 24px 0px;
    line-height: 48px;
}
/* ************************** */
/*           header           */
/* ************************** */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px 0px 12px;
}
header{
    background-color: #000412;
}
.brace{
    margin: 0px;
}
.nav-logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    text-decoration: none;
}
.nav-logo img{
    width: 60px;
    margin: 12px;

}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: 0.1s;
}
.nav-link:hover{
    color: white;
}
/* ************************** */
/*         container          */
/* ************************** */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
/* ************************** */
/*            index           */
/* ************************** */
.logo-funcode{
    margin: 0px 32px 32px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    line-height: 80px;
}
.logo-funcode img{
    width: 200px;
}
.slogan{
    line-height: 32px;
}
.descriptions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0px 16px 16px 16px;
}
.description{
    width: 300px;
    background-color: #070707c8;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 16px 0px 16px;
    gap: 12px;
}
.feature{
    width: 500px;
    background-color: #070707c8;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    padding: 32px;
}
.language{
    background-color: #070707;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    padding: 12px;
    width: auto;
}
.meeting{
    background-color: #070707c8;
    padding: 12px 32px 12px 32px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    display: flex;
    flex-direction: column;
    width: 500px;

    align-items: center;
}
.meeting-column{
    display: flex;
    flex-direction: row;
}
.person{
    background-color: #070707;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.person img{
    width: 70px;
}
.meeting-functions-icon{
    margin-top: 8px;
    width: 30px;
    padding: 4px;
}
.meeting-functions-icon:hover{
    background-color: rgba(255, 255, 255, 0.163);
    border-radius: 12px;
}
/* ************************** */
/*             about          */
/* ************************** */
.about{
    background-color: #070707c8;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    padding: 32px;
    margin-top: 32px;
    width: 400px;
}
/* ************************** */
/*           contact          */
/* ************************** */
.contact-link{
    text-decoration: none;
}
.contact-ways{
    background-color: #070707c8;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    padding: 32px;
    margin-top: 32px;
}
.contact-way{
    display: flex;
    align-items: center;
    width: 350px;
    background-color: #070707;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    margin: 8px;
    padding: 4px;
    transition: 0.1s;
}
.contact-way:hover{
    background-color: #4c4c4c;}
.media{
    width: 35px;
    margin: 4px;
}
/* ************************** */
/*           footer           */
/* ************************** */
footer{
    background-color: #000412;
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 60px;
    margin: 12px;

}
.footer-navigator{
    list-style-type: none;
}
.footer-nav-link{
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: 0.1s;

}
.footer-nav-link:hover{
    color: white;
}
.footer-media{
    width: 30px;
    margin: 8px;
}
/* ************************** */
/*           forms            */
/* ************************** */
.form{
    background-color: #070707;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 72, 72);
    margin-top: 32px;
    gap: 28px;
}
.entry{
    background-color: #070707;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    width: 300px;
}
.entry:focus{
    outline: none;
}
.submit{
    padding: 8px;
    border-radius: 12px;
    background-color: #2f2e2e;
    transition: 0.1s;
    border-width: 0px;
}
.submit:hover{
    padding: 8px;
    border-radius: 12px;
    background-color: #7f7f7f;
}
.form-link{
    text-decoration: none;
    color: rgb(129, 129, 129);
}
.form-link:hover{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 760px){
    .nav-list{
        display: none;
    }
}
@media only screen and (max-width: 720px){
    .logo-funcode{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slogan{
        display: none;
        
    }
}
@media only screen and (max-width: 650px){
    .footer-logo{
        display: none;
    }
    .meeting{
        display: none;
    }
    .feature{
        width: 260px;
    }
    .about{
        width: 350px;
    }
}